<h1>
    {{ main_title }}
    <td style="border: none; margin-left: 10px;">
        <button 
            style="margin-left: 10px;" 
            onclick="window.location.href='/admin/control'" 
        >
        돌아가기
        </button>
    </td>
</h1>

<table>
    <thead>
        <tr>
            <th>Flight_number</th>
            <th>Leg_number</th>
            <th>Date</th>
            <th>Number_of_available_seats</th>
            <th>Airplane_id</th>
            <th>Departure_airport_code</th>
            <th>Departure_time</th>
            <th>Arrival_airport_code</th>
            <th>Arrival_time</th>
            <th style="border: none;">
                <button 
                    onclick="toggleCreateRow()" 
                    style="margin-left: 10px;"
                >
                    Create
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id="create-row" style="display: none;">
            <form id="create-form" method="post" action="/legInstance">
                <td><input type="number" name="flight_number" placeholder="flight_number" required></td>
                <td><input type="number" name="leg_number" placeholder="leg_number" required></td>
                <td><input type="number" name="date" placeholder="date" required></td>
                <td><input type="number" name="number_of_available_seats" placeholder="number_of_available_seats" required></td>
                <td><input type="number" name="airplane_id" placeholder="airplane_id" required></td>
                <td><input type="text" name="departure_airport_code" placeholder="departure_airport_code" required></td>
                <td><input type="number" name="departure_time" placeholder="departure_time" required></td>
                <td><input type="text" name="arrival_airport_code" placeholder="arrival_airport_code" required></td>
                <td><input type="number" name="arrival_time" placeholder="arrival_time" required></td>
                <td style="border: none;">
                    <button type="submit" style="margin-left: 10px;">Insert</button>
                    <button type="button" onclick="toggleCreateRow()">Cancel</button>
                </td>
            </form>
        </tr>
        
        {{#each legInstance_res}}
            <tr id="row-{{Date}}">
                <td>{{Flight_number}}</td>
                <td>{{Leg_number}}</td>
                <td>{{Date}}</td>
                <td>{{Number_of_available_seats}}</td>
                <td>{{Airplane_id}}</td>
                <td>{{Departure_airport_code}}</td>
                <td>{{Departure_time}}</td>
                <td>{{Arrival_airport_code}}</td>
                <td>{{Arrival_time}}</td>
                <td style="border: none;">
                    <button 
                        onclick="toggleEditRow('{{Flight_number}}', '{{Leg_number}}', '{{Date}}', '{{Number_of_available_seats}}', '{{Airplane_id}}', '{{Departure_airport_code}}', '{{Departure_time}}', '{{Arrival_airport_code}}', '{{Arrival_time}}')" 
                        style="margin-left: 10px;"
                    >
                        Update
                    </button>
                    <form method="post" action="/legInstance" style="display: inline;">
                        <input type="hidden" name="date" value="{{Date}}">
                        <input type="hidden" name="_method" value="DELETE"> 
                        <button type="submit" style="margin-left: 10px;">Delete</button>
                    </form>
                </td>
            </tr>

            <tr id="edit-row-{{Date}}" style="display: none;">
                <form id="update-form-{{Date}}" method="post" action="/legInstance">
                    <input type="hidden" name="_method" value="PUT"> 
                    
                    <td><input type="number" name="flight_number" value="{{Flight_number}}" readonly></td>
                    <td><input type="number" name="leg_number" value="{{Leg_number}}" readonly></td>
                    <td><input type="number" name="date" value="{{Date}}" required></td>
                    <td><input type="number" name="number_of_available_seats" value="{{Number_of_available_seats}}" required></td>
                    <td><input type="number" name="airplane_id" value="{{ Airplane_id}}" required></td>
                    <td><input type="text" name="departure_airport_code" value="{{Departure_airport_code}}" required></td>
                    <td><input type="number" name="departure_time" value="{{Departure_time}}" required></td>
                    <td><input type="text" name="arrival_airport_code" value="{{Arrival_airport_code}}" required></td>
                    <td><input type="number" name="arrival_time" value="{{Arrival_time}}" required></td>
                    <td style="border: none;">
                        <button type="submit" style="margin-left: 10px;">Save</button>
                        <button type="button" onclick="toggleEditRow('{{Date}}')">Cancel</button>
                    </td>
                </form>
            </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function toggleCreateRow() {
        const createRow = document.getElementById('create-row');
        createRow.style.display = createRow.style.display === 'none' ? 'table-row' : 'none';
    }

    function toggleEditRow(flight_number, leg_number, date, number_of_available_seats, airplane_id, departure_airport_code, departure_time, arrival_airport_code, arrival_time) {
        const dataRow = document.getElementById('row-' + date);
        const editRow = document.getElementById('edit-row-' + date);
        
        if (editRow.style.display === 'none') {
            dataRow.style.display = 'none';
            editRow.style.display = 'table-row';

        } else {
            dataRow.style.display = 'table-row';
            editRow.style.display = 'none';
        }
    }
</script>